@font-face {
    font-family: 'Cuties Peaches';
    src: url('assets/fonts/CutiesPeaches.woff2') format('woff2'),
         url('assets/fonts/CutiesPeaches.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GentiumAlt';
    src: url('assets/fonts/GentiumAlt.woff2') format('woff2'),
         url('assets/fonts/GentiumAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.hidden {
    visibility: hidden !important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.family-text {
    font-family: 'Cuties Peaches';
    font-weight: normal;
    font-style: normal;
}

.big {
    font-size: 70px;
}

.family {
    font-size: 60px;
}

.med {
    font-size: 20px;
}

.big-phone {
    font-size: 30px;
}

.family-phone {
    font-size: 30px;
}

.med-phone {
    font-size: 15px;
}

.default-text {
    visibility: hidden;
    font-family: 'GentiumAlt';
    font-weight: normal;
    font-style: normal;
}

.arriba {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.abajo {
  position: absolute;
  top: 0px;
  right: 0px;
}

.centered {
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg {
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}

.nomargin {
    margin: 0;
    padding: 0;
}

@media all and (max-width: 5000px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 628px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
}
